<mat-card class="cardWithShadow">
  <mat-card-content class="p-24">
    <!-- Header -->
    <div class="card-header">
      <div class="header-content">
        <div class="icon-wrapper">
          <mat-icon>business_center</mat-icon>
        </div>
        <div class="title-content">
          <h3 class="card-title">Exposants par Pays</h3>
          <p class="card-subtitle">Répartition par sexe et secteur d'activité</p>
        </div>
      </div>
      
      <div class="actions-wrapper">
        <mat-form-field class="filter-select" appearance="outline">
          <mat-select
            [(value)]="selectedSeries"
            (selectionChange)="updateSeries()"
            multiple
          >
            <mat-option *ngFor="let series of allSeries" [value]="series">
              {{ series.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <!-- Loading State -->
    <div *ngIf="isLoading" class="loading-container">
      <mat-spinner diameter="40"></mat-spinner>
      <p>Chargement des données...</p>
    </div>

    <!-- Chart Content -->
    <div *ngIf="!isLoading" class="chart-content">
      <div id="chart">
        <apx-chart
          [series]="chartOptions.series!"
          [chart]="chartOptions.chart!"
          [dataLabels]="chartOptions.dataLabels!"
          [plotOptions]="chartOptions.plotOptions!"
          [xaxis]="chartOptions.xaxis!"
          [stroke]="chartOptions.stroke!"
          [fill]="chartOptions.fill!"
          [yaxis]="chartOptions.yaxis!"
          [tooltip]="chartOptions.tooltip!"
          [legend]="chartOptions.legend!"
          [title]="chartOptions.title!"
        ></apx-chart>
      </div>
    </div>
  </mat-card-content>
</mat-card>
