<section id="about">
	<div class="container">
		<div class="row">
			<div class="inner-content">

				<div class="company-detail">
					<div class="row">
						<div class="video-content">
							<div class="video-player">
								<a class='youtube' href="https://www.youtube.com/embed/zwUsFN__jtE">
									<i class="icon icon-play2"></i>
									<img src="assets/images/video-image.jpg" alt="video" class="video-image">
								</a>

							</div><!--video-player-->
						</div>

						<div class="detail-entry" data-aos="fade-up">

							<div class="section-header">
								<h3 class="section-subtitle">Qui Sommes-Nous</h3>

								<h2 class="section-title">À Propos</h2>
								<p>MonEntréeGratuite est votre passerelle vers les plus grands événements en France, 
									Belgique et Suisse. Nous facilitons l'accès gratuit aux foires et salons prestigieux 
									pour tous. Notre mission est de démocratiser l'accès aux événements professionnels 
									et grand public en offrant des invitations gratuites. Rejoignez des milliers de 
									visiteurs satisfaits qui ont découvert des opportunités exceptionnelles grâce à 
									notre plateforme.</p>
								<div class="btn-wrap">
									<a href="#" class="btn-accent hvr-sweep-to-right">En Savoir Plus</a>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
