<div id="navigation" class="nav nav-overlay main-menu">
		<div class="nav__content">
			<ul class="nav__list">
				<li class="nav__list-item active-nav"><a href="index.html" class="hover-target">Home</a></li>
				<li class="nav__list-item"><a href="about.html" class="hover-target">About Us <span class="badge fs-6 bg-warning">PRO</span></a></li>
				<li class="nav__list-item"><a href="team.html" class="hover-target">Our Team <span class="badge fs-6 bg-warning">PRO</span></a></li>
				<li class="nav__list-item"><a href="styles.html" class="hover-target">Styles <span class="badge fs-6 bg-warning">PRO</span></a></li>
				<li class="nav__list-item"><a href="blog.html" class="hover-target">Blog <span class="badge fs-6 bg-warning">PRO</span></a></li>
				<li class="nav__list-item"><a href="portfolio-masonry.html" class="hover-target">Portfolio Masonry <span class="badge fs-6 bg-warning">PRO</span></a></li>
				<li class="nav__list-item"><a href="single-post.html" class="hover-target">Single Post <span class="badge fs-6 bg-warning">PRO</span></a></li>
				<li class="nav__list-item"><a href="single-portfolio.html" class="hover-target">Single Portfolio <span class="badge fs-6 bg-warning">PRO</span></a></li>
				<li class="nav__list-item"><a href="contact.html" class="hover-target">Contact us <span class="badge fs-6 bg-warning">PRO</span></a></li>
				<li class="nav__list-item"><a href="https://templatesjungle.gumroad.com/l/crowd-html-template" class="btn btn-outline-warning text-white px-5 py-3 rounded-pill" target="_blank">Get PRO Version</a></li>
			</ul>
		</div>
	</div>