<section id="testimonial">
	<div class="container">
		<div class="row">
			<div class="inner-content">
				<div class="testimonial-content">
					<div class="testimonial-slider">
						<div class="testimonial-item">
							<div class="testimonial-block">
								<blockquote>MonEntréeGratuite m'a permis d'accéder à des événements exceptionnels 
									gratuitement. Le processus de réservation est simple et rapide. Je recommande 
									vivement ce service !
								</blockquote>
								<div class="author-detail">
									<div class="author-name">Sophie Martin</div>
									<div class="author-location">Paris, France</div>
								</div>
							</div>
						</div><!--testimonial-item-->
						<div class="testimonial-item">
							<div class="testimonial-block">
								<blockquote>Grâce à cette plateforme, j'ai découvert de nombreuses foires et salons 
									que je n'aurais jamais connus. L'invitation arrive rapidement par email. 
									Service excellent !
								</blockquote>
								<div class="author-detail">
									<div class="author-name">Marc Dubois</div>
									<div class="author-location">Bruxelles, Belgique</div>
								</div>
							</div>
						</div><!--testimonial-item-->
						<div class="testimonial-item">
							<div class="testimonial-block">
								<blockquote>Une solution parfaite pour accéder aux grands événements sans frais. 
									L'équipe est réactive et le système de réservation très intuitif. 
									Merci MonEntréeGratuite !
								</blockquote>
								<div class="author-detail">
									<div class="author-name">Claire Rousseau</div>
									<div class="author-location">Genève, Suisse</div>
								</div>
							</div>
						</div><!--testimonial-item-->
					</div>
				</div><!--testimonial-content-->
			</div>
		</div>
	</div>
</section>
