<section id="milestones" class="two-column">
	<div class="container">
		<div class="row">
			<div class="inner-content">
				<div class="row">

					<div class="header-element">
						<div class="section-header">
							<h3 class="section-subtitle">Nos Réalisations</h3>
							<h2 class="section-title">Des milliers de visiteurs satisfaits à travers l'Europe.</h2>
							<p>MonEntréeGratuite facilite l'accès aux événements majeurs depuis plusieurs années. 
								Découvrez notre impact dans différents secteurs.</p>
						</div>
					</div>

					<div class="milestones-chart">
						<ul class="list-unstyled">
							<li>
								<div class="milestones-title">Foires Commerciales</div>
								<span class="milestones sixty-percent"></span>
							</li>
							<li>
								<div class="milestones-title">Salons Grand Public</div>
								<span class="milestones fifty-percent"></span>
							</li>
							<li>
								<div class="milestones-title">Événements Culturels</div>
								<span class="milestones eighty-percent"></span>
							</li>
							<li>
								<div class="milestones-title">Salons Professionnels</div>
								<span class="milestones ninety-percent"></span>
							</li>
							<li>
								<div class="milestones-title">Expositions</div>
								<span class="milestones forty-percent"></span>
							</li>
						</ul>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
