<section id="latest-blog">
	<div class="container">
		<div class="inner-content">

			<div class="section-header text-center">
				<h3 class="section-subtitle">Notre Blog</h3>
				<h2 class="section-title">Derniers Articles</h2>
			</div>

			<div class="post-content">
				<div class="row g-md-5">
					<div class="col-md-6">
						<article class="mb-4">
							<figure class="picture">
								<a href="#" class="image-hvr-effect">
									<img src="assets/images/post-image1.jpg" alt="post" class="post-image">
								</a>
							</figure>
							<div class="post-item">
								<div class="meta-date">22nd Feb 2021</div>
								<h3 class="post-title">
									<a href="#">A Delightful lemon grape flavor that paired well with my go-to berry
										blend</a>
								</h3>
							</div>
						</article>
					</div>

					<div class="col-md-6">
						<div class="post-list">
							<article>
								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="assets/images/post-thumb1.jpg" alt="post" class="post-thumb-image">
									</a>
								</figure>
								<div class="post-item">
									<div class="meta-date">2nd Jan 2022</div>
									<h4 class="post-title">
										<a href="#">when darkness overspreads my eyes, and heaven and earth seem
											to dwell 4n my soul</a>
									</h4>
								</div>
							</article>
							<article>
								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="assets/images/post-thumb2.jpg" alt="post" class="post-thumb-image">
									</a>
								</figure>
								<div class="post-item">
									<div class="meta-date">15th Jan 2022</div>
									<h4 class="post-title">
										<a href="#">these sweet mornings of spring which I enjoy with my whole
											heart</a>
									</h4>
								</div>
							</article>
							<article>
								<figure>
									<a href="#" class="image-hvr-effect">
										<img src="assets/images/post-thumb3.jpg" alt="post" class="post-thumb-image">
									</a>
								</figure>
								<div class="post-item">
									<div class="meta-date">23rd Jan 2022</div>
									<h4 class="post-title">
										<a href="#">I feel the presence of the Almighty, who formed us in his
											own image</a>
									</h4>
								</div>
							</article>
						</div>
					</div>
				</div>
			</div><!--post-content-->

		</div>
	</div>
</section>
