<section id="our-team" class="two-column">
	<div class="container">
		<div class="row justify-content-center align-items-center">
			<div class="col-md-8">
				<div class="row">
					<div class="col-md-8">
						<h3 class="section-subtitle">Notre Équipe</h3>
						<h2 class="section-title">Rencontrez notre équipe passionnée et dévouée</h2>
					</div>
					<div class="col-md-4">
						<p>Une équipe dédiée à vous offrir la meilleure expérience d'accès aux événements.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="inner-content">
				<div class="team-content">
					<div class="row">
						<div class="col-md-3">
							<div class="team-item mb-4">
								<img src="assets/images/team-image1.jpg" alt="Team Member" class="team-image">
								<div class="description">
									<div class="team-title">Sarah parker, <strong>CEO</strong></div>
									<p>Sodales pretium cursus odio ac turpis et et. Amet erat faucibus elementum
										diam amet, at cras tincidunt fermentum.</p>
								</div>
							</div><!--team-item-->
						</div><!--column-->

						<div class="col-md-3">
							<div class="team-item mb-4">
								<img src="assets/images/team-image2.jpg" alt="Team Member" class="team-image">
								<div class="description">
									<div class="team-title">John Smith, <strong>Art Director</strong></div>
									<p>Sodales pretium cursus odio ac turpis et et. Amet erat faucibus elementum
										diam amet, at cras tincidunt fermentum.</p>
								</div>
							</div><!--team-item-->
						</div><!--column-->

						<div class="col-md-3">
							<div class="team-item mb-4">
								<img src="assets/images/team-image3.jpg" alt="Team Member" class="team-image">
								<div class="description">
									<div class="team-title">Jerry lee hooker, <strong>Project head</strong></div>
									<p>Sodales pretium cursus odio ac turpis et et. Amet erat faucibus elementum
										diam amet, at cras tincidunt fermentum.</p>
								</div>
							</div><!--team-item-->
						</div><!--column-->

						<div class="col-md-3">
							<div class="team-item mb-4">
								<img src="assets/images/team-image4.jpg" alt="Team Member" class="team-image">
								<div class="description">
									<div class="team-title">Barbera Streisand, <strong>Designer</strong></div>
									<p>Sodales pretium cursus odio ac turpis et et. Amet erat faucibus elementum
										diam amet, at cras tincidunt fermentum.</p>
								</div>
							</div><!--team-item-->
						</div><!--column-->

						<div class="col-md-3">
							<div class="team-item mb-4">
								<img src="assets/images/team-image5.jpg" alt="Team Member" class="team-image">
								<div class="description">
									<div class="team-title">Cindy Lauper, <strong>Designer</strong></div>
									<p>Sodales pretium cursus odio ac turpis et et. Amet erat faucibus elementum
										diam amet, at cras tincidunt fermentum.</p>
								</div>
							</div><!--team-item-->
						</div><!--column-->

						<div class="col-md-3">
							<div class="team-item mb-4">
								<img src="assets/images/team-image4.jpg" alt="Team Member" class="team-image">
								<div class="description">
									<div class="team-title">Barbera Streisand, <strong>Designer</strong></div>
									<p>Sodales pretium cursus odio ac turpis et et. Amet erat faucibus elementum
										diam amet, at cras tincidunt fermentum.</p>
								</div>
							</div><!--team-item-->
						</div><!--column-->

						<div class="col-md-3">
							<div class="team-item mb-4">
								<img src="assets/images/team-image7.jpg" alt="Team Member" class="team-image">
								<div class="description">
									<div class="team-title">Jim Cook, <strong>Marketing Head</strong></div>
									<p>Sodales pretium cursus odio ac turpis et et. Amet erat faucibus elementum
										diam amet, at cras tincidunt fermentum.</p>
								</div>
							</div><!--team-item-->
						</div><!--column-->

						<div class="col-md-3">
							<div class="team-item mb-4">
								<img src="assets/images/team-image8.jpg" alt="Team Member" class="team-image">
								<div class="description">
									<div class="team-title">Kenny Lee, <strong>Advisor</strong></div>
									<p>Sodales pretium cursus odio ac turpis et et. Amet erat faucibus elementum
										diam amet, at cras tincidunt fermentum.</p>
								</div>
							</div><!--team-item-->
						</div><!--column-->
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
