<section id="achievement">
	<div class="container">
		<div class="row">
			<div class="inner-content">
				<div class="achievement-content">
					<div class="row">
						<div class="col-6 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
							<div class="milestone-icon bg-warning rounded-circle"><i class="icon icon-briefcase"></i></div>
							<div class="achievement-item">
								<div class="achievement-count">500+</div>
								<div class="achievement-title">Événements</div>
							</div>
						</div>
						<div class="col-6 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
							<div class="milestone-icon bg-warning rounded-circle"><i class="icon icon-user"></i></div>
							<div class="achievement-item">
								<div class="achievement-count">50K+</div>
								<div class="achievement-title">Visiteurs</div>
							</div>
						</div>
						<div class="col-6 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
							<div class="milestone-icon bg-warning rounded-circle"><i class="icon icon-target"></i></div>
							<div class="achievement-item">
								<div class="achievement-count">3</div>
								<div class="achievement-title">Pays</div>
							</div>
						</div>
						<div class="col-6 col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
							<div class="milestone-icon bg-warning rounded-circle"><i class="icon icon-gift"></i></div>
							<div class="achievement-item">
								<div class="achievement-count">100%</div>
								<div class="achievement-title">Gratuit</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>
